{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class = "container">
    <h1 class = "text-center">View Queries</h1>
    <hr/>
    <div class = "container py-2" style = "margin-bottom:5px;">
        <form method = "GET">
            {{search_form|crispy}}
            <div class = "d-inline-block">
                <button type = "submit" class = "btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i>  Search</button>
            </div>
        </form>
    </div>
    <div class = "container py-2" style = "margin-bottom:5px;">
    {% if Queries %}
        {% for query in Queries.all %}
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        {{query.title}} - #{{query.slug}}
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <p>Status : 
                        {% if query.status == "Processing Query" %}
                             <span class="badge bg-primary">Processing Query</span>
                        {% elif query.status == "Approved" %}
                             <span class="badge bg-success">Approved Query</span>
                        {% elif query.status == "Rejected" %}
                             <span class="badge bg-danger">Rejected Query</span>
                        {% endif %}</p>
                        <p>Raised By : {{query.user_name}} </p>
                        <p>Registration No : {{query.registration_id}}</p>
                        <p>Transaction Id : {{query.transaction_id}}</p>
                        Description :
                            <p class = "justify-content-center">{{query.description | safe}}</p>
                        Reference Documents :
                        <p><a href = "{{query.screenshot.url}}" style = "text-decoration:none;">References</a></p>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class = "d-inline-block py-2" style = "margin-top:20px;margin-bottom:10px;">
        <a href = "{% url 'create_query' %}" class = "btn btn-primary" data-bss-hover-animate="pulse" style = "margin-bottom:10px;margin-left:10px;"><i class="fa-solid fa-plus"></i> Add a Query</a>
    </div>
    
</div>
{% endblock %}